
*{
	text-align: center;
}

.Gaming{
	height:800px ;
	width:1400px ;
}
	
body{
	background-color:Lightcyan;

}

.Start{
	font-size: 30px;
}

.list {
    text-align: center;
    padding: 0;
    margin: 0;
}

li{
	padding: 0;
}
