
*{
	text-align: center;
}

.Gaming{
	height:700px ;
	width:1000px ;
}
	
body{
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

}

.Start{
	font-size: 50px;
}
.Start:hover {
  font-size:600%;
}

.list {
    text-align: center;
    padding: 0;
    margin: 0;
    color: grey;
}

li{
	padding: 0;
	color: grey;
}

.Head{
	font-size:30px;
}
div p{
	font-size:20px;
}

