
*{
	text-align: center;
}

.Gaming{
	height:400px ;
	width:600px ;
}
	
body{
	background-color:Lightcyan;

}

.Start{
	font-size: 50px;
}

.list {
    text-align: center;
    padding: 0;
    margin: 0;
}

li{
	padding: 0;
}

.Head{
	font-size:30px;
}
div p{
	font-size:20px;
}
